<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s website</title>
    <link rel="stylesheet" href="/static/css/index-styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/contact/?name={{ name }}">Contact</a></li>
        </ul>
    </nav>

    <main>
        <button id="addOne">+ 1</button>
        <p id="count">0</p>
    </main>

    <footer>
        <p>&copy; 2022 {{ name }} Website. All rights reserved.</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>